<ion-app>
  <!-- Resizable: https://codepen.io/liamdebeasi/pen/KKdodjd -->
  <ion-split-pane contentId="pages-content">
    <ion-menu contentId="pages-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menú</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-button *ngFor="let projName of projects$ | async" [routerLink]="['/project']">Project {{ projName }}</ion-button>
        <ion-button [routerLink]="['/home']">Go Home</ion-button>
        <ion-button *ngFor="let docId of docs" [routerLink]="['/document/', docId]">Go To Docs {{ docId }}</ion-button>
        <ion-button [routerLink]="['/codes']">Go To Codes</ion-button>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="pages-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>